* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.flex {
    display: flex;
    align-items: center;
}

body {
    background-color: black;
}

header {
    border-bottom: 1px solid white;
}

.cphimg {
    width: 146px;
    margin: 0 auto;
}

img {
    width: 100%;
}

h2 {
    margin-top: 200px;
    text-align: center;
}

.ch2 {
    color: white;
    font-weight: 200;
}

input {
    color: black;
    border-bottom: white;
}

.coto {
    width: 493px;
    margin: 50px auto;
}

.coto input {
    width: 100%;
    padding: 12px;
    background-color: black;
    border: none;
    border: 1px solid white;
    outline: none;
    margin-bottom: 55px;
    border-radius: 5px;
    color: rgb(138, 138, 138);
}

.coto input.log {
    display: block;
    width: 100%;
    padding: 8px;
    background-color: #2D58F3;
    color: white;
    text-align: center;
    font-weight: 650;
    border-radius: 5px;
    font-size: 20px;
}

.or {
    text-align: center;
    font-weight: 600;
    color: white;
    font-size: 20px;
    margin-top: 50px;
}

.fb {

    margin-top: 30px;
}

.fb img {
    width: 40px;
}

.fb p {
    margin-left: 30px;
    font-weight: 600;
}

.fb p a {
    color: #0038FF;
}

.pass1 {
    color: white;
    text-align: center;
    margin-top: 30px;
}





/* ////////////////////////////////// */
/* ////////////////////////////////// */
/* ////////////////////////////////// */
/* ////////////////////////////////// */


.p2img {
    width: 146px;
}

.p2lines {
    width: 50px;
}

.lines-container {
    width: 68px;
    height: 76px;
    background-image: url(../img/lines.png);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
}

.p2shop {
    width: 35px;
    margin-right: 58px;
}

.p2user {
    width: 35px;
}

.search {
    margin-left: 404px;
    width: 613px;
    height: 36px;
    border-radius: 20px;
    padding-left: 25px;
    background-color: #9E9E9E;
    color: white;
}

.search::placeholder {
    color: white;
}

.sr {
    margin: 21px 510px 20px -36px;
    width: 34px;
}

h3 {
    color: #ffffff;
    font-weight: 300;
    font-size: 25px;
    margin-left: 73px;
    margin-top: 44px;
    margin-bottom: 44px;
}

.fpos {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 85%;
}

.yviteli,
.mwvane,
.lurji,
.cisperi {
    width: 332px;
    height: 410px;
}

.post {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 95%;
    margin-bottom: 137px;
}

div img {

    width: 208px;
}

div p {
    color: white;
    font-size: 12px;
}


div p span img {
    width: 16px;

}

.icons img{
   width: 28px;
   height: 28px;

}


footer {
    
    border-top: 1px solid white;
    display: flex;
    
    
}
.foot{
    margin: auto;
    gap: 300px;
    display: flex;
    padding-top: 20px;
    padding-bottom: 15px;
}
h4 {

    color: #ffffff;
    font-size: 30px;
    font-weight: 300;
}

footer p {
    color: #ffffff;
    font-weight: 300;
    font-size: 15px;
}

.pp1 p{
   margin-top: 22px;
}
.pp2 p{
    margin-top: 30px;
}
.gio{
    display: flex;
    justify-content: space-between;

}
.gio img{
    width: 14px;
}